---
const { 
    title, 
    description, 
    background, 
    btnInscription, 
    picURL, 
    url 
} = Astro.props
---

<style>
    .banner {
        display: flex;
    }

    /* LEFT CARD */
    .banner__image {
        flex: 1;
        border-radius: var(--border-radius-huge);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .banner__image.chat {
       background-color: #e8e8fc;
    }

    .banner__image.benefits {
       background-color: #F1E9FE;
    }

    .banner__image.reviews {
       background-color: #F0E6FE;
    }

    .banner__image img {
        max-width: 100%;
        max-height: 350px;
        display: block;
    }

    /* RIGHT CARD */
    .banner__content {
        flex: 1;
        background-color: var(--main-font-color);
        color: var(--secondary-background-color);
        border-radius: calc(var(--border-radius-large) + 10px);
        padding: 36px 40px;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
        margin-left: -60px;
    }

    .banner__content h2 {
        font-size: var(--middle);
        margin-top: 15px;
        margin-bottom: -8px;
    }

    .banner__content p {
        font-size: calc(var(--middle) - 8px);
        line-height: 1.5;
        margin-bottom: 40px;
    }

    .banner__content button {
        margin-bottom: 0px;
    }
</style>

<section class="banner">
    <div class:list={['banner__image', background]}>
        <img
            src={picURL}
            alt={title + ' | Specialist'} 
        />
    </div>

    <div class="banner__content">
        <h2>{title}</h2>
        <p>{description}</p>
        <button class="btn-large" onclick={`goToURL('${url}')`}>
            {btnInscription}
        </button>
    </div>
</section>

