---
import Icon from '../components/Icon.astro'
import getFilteredIssues from '../../public/js/build/getFilteredIssues.mjs'
import ENV from '../../src/content/ru/env.json'

// Fridges
import fridgeIssuesRu from '../content/ru/services/sarnaranneri-veranorogum/data.json'
import fridgeIssuesHisenseRu from '../content/ru/services/sarnaranneri-veranorogum/hisense/data.json'
import fridgeIssuesIndesitRu from '../content/ru/services/sarnaranneri-veranorogum/indesit/data.json'
import fridgeIssuesLiebherrRu from '../content/ru/services/sarnaranneri-veranorogum/liebherr/data.json'
import fridgeIssuesSamsungRu from '../content/ru/services/sarnaranneri-veranorogum/samsung/data.json'
import fridgeIssuesLgRu from '../content/ru/services/sarnaranneri-veranorogum/lg/data.json'
import fridgeIssuesHitachiRu from '../content/ru/services/sarnaranneri-veranorogum/hitachi/data.json'
import fridgeIssuesBoschRu from '../content/ru/services/sarnaranneri-veranorogum/bosch/data.json'
import fridgeIssuesToshibaRu from '../content/ru/services/sarnaranneri-veranorogum/toshiba/data.json'
import fridgeIssuesGorenjeRu from '../content/ru/services/sarnaranneri-veranorogum/gorenje/data.json'
import fridgeIssuesElectroluxRu from '../content/ru/services/sarnaranneri-veranorogum/electrolux/data.json'
import fridgeIssuesSharpRu from '../content/ru/services/sarnaranneri-veranorogum/sharp/data.json'
import fridgeIssuesWhirlpoolRu from '../content/ru/services/sarnaranneri-veranorogum/whirlpool/data.json'

// Washers
import washerIssuesRu from '../content/ru/services/lvacqi-meqenaneri-veranorogum/data.json'
import washerIssuesAristonRu from '../content/ru/services/lvacqi-meqenaneri-veranorogum/ariston/data.json'
import washerIssuesIndesitRu from '../content/ru/services/lvacqi-meqenaneri-veranorogum/indesit/data.json'
import washerIssuesCandyRu from '../content/ru/services/lvacqi-meqenaneri-veranorogum/candy/data.json'
import washerIssuesSamsungRu from '../content/ru/services/lvacqi-meqenaneri-veranorogum/samsung/data.json'
import washerIssuesLgRu from '../content/ru/services/lvacqi-meqenaneri-veranorogum/lg/data.json'
import washerIssuesDaewooRu from '../content/ru/services/lvacqi-meqenaneri-veranorogum/daewoo/data.json'
import washerIssuesBoschRu from '../content/ru/services/lvacqi-meqenaneri-veranorogum/bosch/data.json'
import washerIssuesAegRu from '../content/ru/services/lvacqi-meqenaneri-veranorogum/aeg/data.json'
import washerIssuesGorenjeRu from '../content/ru/services/lvacqi-meqenaneri-veranorogum/gorenje/data.json'
import washerIssuesElectroluxRu from '../content/ru/services/lvacqi-meqenaneri-veranorogum/electrolux/data.json'
import washerIssuesZanussiRu from '../content/ru/services/lvacqi-meqenaneri-veranorogum/zanussi/data.json'
import washerIssuesBekoRu from '../content/ru/services/lvacqi-meqenaneri-veranorogum/beko/data.json'

// Dryers
import dryerIssuesRu from '../content/ru/services/avtomat-choranocneri-veranorogum/data.json'
import dryerIssuesHisenseRu from '../content/ru/services/avtomat-choranocneri-veranorogum/hisense/data.json'
import dryerIssuesIndesitRu from '../content/ru/services/avtomat-choranocneri-veranorogum/indesit/data.json'
import dryerIssuesAegRu from '../content/ru/services/avtomat-choranocneri-veranorogum/aeg/data.json'
import dryerIssuesSamsungRu from '../content/ru/services/avtomat-choranocneri-veranorogum/samsung/data.json'
import dryerIssuesLgRu from '../content/ru/services/avtomat-choranocneri-veranorogum/lg/data.json'
import dryerIssuesMieleRu from '../content/ru/services/avtomat-choranocneri-veranorogum/miele/data.json'
import dryerIssuesBoschRu from '../content/ru/services/avtomat-choranocneri-veranorogum/bosch/data.json'
import dryerIssuesSharpRu from '../content/ru/services/avtomat-choranocneri-veranorogum/sharp/data.json'
import dryerIssuesGorenjeRu from '../content/ru/services/avtomat-choranocneri-veranorogum/gorenje/data.json'
import dryerIssuesElectroluxRu from '../content/ru/services/avtomat-choranocneri-veranorogum/electrolux/data.json'
import dryerIssuesBekoRu from '../content/ru/services/avtomat-choranocneri-veranorogum/beko/data.json'
import dryerIssuesWhirlpoolRu from '../content/ru/services/avtomat-choranocneri-veranorogum/whirlpool/data.json'

import dryerIssuesHisenseErrorsRu from '../content/ru/services/avtomat-choranocneri-veranorogum/hisense/errors/data.json'
import dryerIssuesIndesitErrorsRu from '../content/ru/services/avtomat-choranocneri-veranorogum/indesit/errors/data.json'
import dryerIssuesAegErrorsRu from '../content/ru/services/avtomat-choranocneri-veranorogum/aeg/errors/data.json'
import dryerIssuesSamsungErrorsRu from '../content/ru/services/avtomat-choranocneri-veranorogum/samsung/errors/data.json'
import dryerIssuesLgErrorsRu from '../content/ru/services/avtomat-choranocneri-veranorogum/lg/errors/data.json'
import dryerIssuesMieleErrorsRu from '../content/ru/services/avtomat-choranocneri-veranorogum/miele/errors/data.json'
import dryerIssuesBoschErrorsRu from '../content/ru/services/avtomat-choranocneri-veranorogum/bosch/errors/data.json'
import dryerIssuesSharpErrorsRu from '../content/ru/services/avtomat-choranocneri-veranorogum/sharp/errors/data.json'
import dryerIssuesGorenjeErrorsRu from '../content/ru/services/avtomat-choranocneri-veranorogum/gorenje/errors/data.json'
import dryerIssuesElectroluxErrorsRu from '../content/ru/services/avtomat-choranocneri-veranorogum/electrolux/errors/data.json'
import dryerIssuesBekoErrorsRu from '../content/ru/services/avtomat-choranocneri-veranorogum/beko/errors/data.json'
import dryerIssuesWhirlpoolErrorsRu from '../content/ru/services/avtomat-choranocneri-veranorogum/whirlpool/errors/data.json'

// Dishwashers
import dishwasherIssuesRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/data.json'
import dishwasherIssuesHisenseRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/hisense/data.json'
import dishwasherIssuesIndesitRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/indesit/data.json'
import dishwasherIssuesAegRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/aeg/data.json'
import dishwasherIssuesSamsungRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/samsung/data.json'
import dishwasherIssuesLgRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/lg/data.json'
import dishwasherIssuesMieleRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/miele/data.json'
import dishwasherIssuesBoschRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/bosch/data.json'
import dishwasherIssuesHansaRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/hansa/data.json'
import dishwasherIssuesGorenjeRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/gorenje/data.json'
import dishwasherIssuesElectroluxRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/electrolux/data.json'
import dishwasherIssuesSiemensRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/siemens/data.json'
import dishwasherIssuesWhirlpoolRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/whirlpool/data.json'
import dishwasherIssuesAristonRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/ariston/data.json'
import dishwasherIssuesCandyRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/candy/data.json'

import dishwasherIssuesHisenseErrorsRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/hisense/errors/data.json'
import dishwasherIssuesIndesitErrorsRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/indesit/errors/data.json'
import dishwasherIssuesAegErrorsRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/aeg/errors/data.json'
import dishwasherIssuesSamsungErrorsRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/samsung/errors/data.json'
import dishwasherIssuesLgErrorsRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/lg/errors/data.json'
import dishwasherIssuesMieleErrorsRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/miele/errors/data.json'
import dishwasherIssuesBoschErrorsRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/bosch/errors/data.json'
import dishwasherIssuesHansaErrorsRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/hansa/errors/data.json'
import dishwasherIssuesGorenjeErrorsRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/gorenje/errors/data.json'
import dishwasherIssuesElectroluxErrorsRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/electrolux/errors/data.json'
import dishwasherIssuesSiemensErrorsRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/siemens/errors/data.json'
import dishwasherIssuesWhirlpoolErrorsRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/whirlpool/errors/data.json'
import dishwasherIssuesAristonErrorsRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/ariston/errors/data.json'
import dishwasherIssuesCandyErrorsRu from '../content/ru/services/spasq-lvacoq-meqenaneri-veranorogum/candy/errors/data.json'

var localization = ''

// Define localization by URL
Astro.url.pathname.includes('/ru/') 
    ? localization = '/ru/' 
    : localization = ''

// Fridges
let fridgeIssues = fridgeIssuesRu
let fridgeIssuesHisense = fridgeIssuesHisenseRu
let fridgeIssuesIndesit = fridgeIssuesIndesitRu
let fridgeIssuesLiebherr = fridgeIssuesLiebherrRu
let fridgeIssuesSamsung = fridgeIssuesSamsungRu
let fridgeIssuesLg = fridgeIssuesLgRu
let fridgeIssuesSharp = fridgeIssuesSharpRu
let fridgeIssuesBosch = fridgeIssuesBoschRu
let fridgeIssuesToshiba = fridgeIssuesToshibaRu
let fridgeIssuesGorenje = fridgeIssuesGorenjeRu
let fridgeIssuesElectrolux = fridgeIssuesElectroluxRu
let fridgeIssuesHitachi = fridgeIssuesHitachiRu
let fridgeIssuesWhirlpool = fridgeIssuesWhirlpoolRu

// Washers
let washerIssues = washerIssuesRu
let washerIssuesAriston = washerIssuesAristonRu
let washerIssuesIndesit = washerIssuesIndesitRu
let washerIssuesCandy = washerIssuesCandyRu
let washerIssuesSamsung = washerIssuesSamsungRu
let washerIssuesLg = washerIssuesLgRu
let washerIssuesDaewoo = washerIssuesDaewooRu
let washerIssuesBosch = washerIssuesBoschRu
let washerIssuesAeg = washerIssuesAegRu
let washerIssuesGorenje = washerIssuesGorenjeRu
let washerIssuesElectrolux = washerIssuesElectroluxRu
let washerIssuesZanussi = washerIssuesZanussiRu
let washerIssuesBeko = washerIssuesBekoRu

// Dryers
let dryerIssues = dryerIssuesRu
let dryerIssuesHisense = dryerIssuesHisenseRu
let dryerIssuesIndesit = dryerIssuesIndesitRu
let dryerIssuesBeko = dryerIssuesBekoRu
let dryerIssuesSamsung = dryerIssuesSamsungRu
let dryerIssuesLg = dryerIssuesLgRu
let dryerIssuesMiele = dryerIssuesMieleRu
let dryerIssuesBosch = dryerIssuesBoschRu
let dryerIssuesAeg = dryerIssuesAegRu
let dryerIssuesGorenje = dryerIssuesGorenjeRu
let dryerIssuesElectrolux = dryerIssuesElectroluxRu
let dryerIssuesSharp = dryerIssuesSharpRu
let dryerIssuesWhirlpool = dryerIssuesWhirlpoolRu

let dryerIssuesHisenseErrors = dryerIssuesHisenseErrorsRu
let dryerIssuesIndesitErrors = dryerIssuesIndesitErrorsRu
let dryerIssuesBekoErrors = dryerIssuesBekoErrorsRu
let dryerIssuesSamsungErrors = dryerIssuesSamsungErrorsRu
let dryerIssuesLgErrors = dryerIssuesLgErrorsRu
let dryerIssuesMieleErrors = dryerIssuesMieleErrorsRu
let dryerIssuesBoschErrors = dryerIssuesBoschErrorsRu
let dryerIssuesAegErrors = dryerIssuesAegErrorsRu
let dryerIssuesGorenjeErrors = dryerIssuesGorenjeErrorsRu
let dryerIssuesElectroluxErrors = dryerIssuesElectroluxErrorsRu
let dryerIssuesSharpErrors = dryerIssuesSharpErrorsRu
let dryerIssuesWhirlpoolErrors = dryerIssuesWhirlpoolErrorsRu

// Dishwashers
let dishwasherIssues = dishwasherIssuesRu
let dishwasherIssuesHisense = dishwasherIssuesHisenseRu
let dishwasherIssuesIndesit = dishwasherIssuesIndesitRu
let dishwasherIssuesHansa = dishwasherIssuesHansaRu
let dishwasherIssuesSamsung = dishwasherIssuesSamsungRu
let dishwasherIssuesLg = dishwasherIssuesLgRu
let dishwasherIssuesMiele = dishwasherIssuesMieleRu
let dishwasherIssuesBosch = dishwasherIssuesBoschRu
let dishwasherIssuesAeg = dishwasherIssuesAegRu
let dishwasherIssuesGorenje = dishwasherIssuesGorenjeRu
let dishwasherIssuesElectrolux = dishwasherIssuesElectroluxRu
let dishwasherIssuesSiemens = dishwasherIssuesSiemensRu
let dishwasherIssuesWhirlpool = dishwasherIssuesWhirlpoolRu
let dishwasherIssuesAriston = dishwasherIssuesAristonRu
let dishwasherIssuesCandy = dishwasherIssuesCandyRu

let dishwasherIssuesHisenseErrors = dishwasherIssuesHisenseErrorsRu
let dishwasherIssuesIndesitErrors = dishwasherIssuesIndesitErrorsRu
let dishwasherIssuesHansaErrors = dishwasherIssuesHansaErrorsRu
let dishwasherIssuesSamsungErrors = dishwasherIssuesSamsungErrorsRu
let dishwasherIssuesLgErrors = dishwasherIssuesLgErrorsRu
let dishwasherIssuesMieleErrors = dishwasherIssuesMieleErrorsRu
let dishwasherIssuesBoschErrors = dishwasherIssuesBoschErrorsRu
let dishwasherIssuesAegErrors = dishwasherIssuesAegErrorsRu
let dishwasherIssuesGorenjeErrors = dishwasherIssuesGorenjeErrorsRu
let dishwasherIssuesElectroluxErrors = dishwasherIssuesElectroluxErrorsRu
let dishwasherIssuesSiemensErrors = dishwasherIssuesSiemensErrorsRu
let dishwasherIssuesWhirlpoolErrors = dishwasherIssuesWhirlpoolErrorsRu
let dishwasherIssuesAristonErrors = dishwasherIssuesAristonErrorsRu
let dishwasherIssuesCandyErrors = dishwasherIssuesCandyErrorsRu


const commonFridgeIssues = getFilteredIssues(fridgeIssues.items, fridgeIssues.parentURL, 0, 12)
const commonWasherIssues = getFilteredIssues(washerIssues.items, washerIssues.parentURL, 0, 12)
const commonDryerIssues = getFilteredIssues(dryerIssues.items, dryerIssues.parentURL, 0, 12)
const commonDishwasherIssues = getFilteredIssues(dishwasherIssues.items, dishwasherIssues.parentURL, 0, 12)
---

<section class="mega" data-mega-menu>
    <div class="mega__inner">
        <!-- LEFT SIDEBAR -->
        <ul class="sidebar" data-sidebar>
            <li class="active" data-category="repair">
                <Icon name="repair" /> Ремонт бытовой техники
            </li>
            <!-- <li data-category="conditioner">
                <Icon name="conditioner" /> Ремонт климат. систем
            </li>
             <li data-category="cooling">
                <Icon name="cooling" /> Ремонт систем охлаждения
            </li>
            <li data-category="repair">
                <Icon name="solar" /> Установка солнечных панелей
            </li> -->
            <li data-category="reviews">
                <Icon name="reviews" /><a href={ENV.GOOGLE_REVIEWS_URL} target="_blank"> Отзывы</a>
            </li>
            <li data-category="about">
                <Icon name="about" /><a href="/ru/about/"> О нас</a> 
            </li>
             <li data-category="home">
                <Icon name="home" /><a href="/ru/"> На Главную</a>
            </li>
            <li data-category="localization">
                <Icon name="localization" /> Փոխել հայերեն
            </li>
        </ul>

        <!-- RIGHT CONTENT -->
        <div class="mega__content">
            <!-- PANEL: РЕМОНТ ТЕХНИКИ -->
            <div class="panel active" data-panel="repair">
                <div class="mega-title" role="heading" aria-level="2">Ремонт техники</div>
                <div class="columns">
                    <div class="column">
                        <div class="column-title" role="heading" aria-level="3">Ремонт бытовой техники на дому</div>
                        <ul>
                            <li data-category="fridge"> Ремонт холодильников</li>
                            <li data-category="washer">Ремонт стиральных машин</li>
                            <li data-category="dryer">Ремонт сушильных машин</li>
                            <li data-category="dishwasher">Ремонт посудомоечных машин</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- PANEL: FRIDGE -->
              <div class="panel" data-panel="fridge">
                <div class="mega-title" role="heading" aria-level="2">{fridgeIssues.indexPageTitle}</div>
                <div class="columns">
                    <div class="column">
                        <div class="column-title" role="heading" aria-level="3">Ремонт по дефектам</div>
                        <ul>
                            <li><a href={fridgeIssues.parentURL}>{fridgeIssues.indexPageTitle}</a></li>
                            {commonFridgeIssues.map(issue => (
                                <li><a href={issue.href}>{issue.title}</a></li>
                            ))}
                        </ul>
                    </div>

                    <div class="column">
                        <div class="column-title" role="heading" aria-level="3">Ремонт по брендам</div>
                        <ul>
                            <li><a href={fridgeIssuesLg.parentURL}>{fridgeIssuesLg.indexPageTitle}</a></li>
                            <li><a href={fridgeIssuesIndesit.parentURL}>{fridgeIssuesIndesit.indexPageTitle}</a></li>
                            <li><a href={fridgeIssuesHisense.parentURL}>{fridgeIssuesHisense.indexPageTitle}</a></li>
                            <li><a href={fridgeIssuesSamsung.parentURL}>{fridgeIssuesSamsung.indexPageTitle}</a></li>
                            <li><a href={fridgeIssuesHitachi.parentURL}>{fridgeIssuesHitachi.indexPageTitle}</a></li>
                            <li><a href={fridgeIssuesBosch.parentURL}>{fridgeIssuesBosch.indexPageTitle}</a></li>
                            <li><a href={fridgeIssuesSharp.parentURL}>{fridgeIssuesSharp.indexPageTitle}</a></li>
                            <li><a href={fridgeIssuesGorenje.parentURL}>{fridgeIssuesGorenje.indexPageTitle}</a></li>
                            <li><a href={fridgeIssuesElectrolux.parentURL}>{fridgeIssuesElectrolux.indexPageTitle}</a></li>
                            <li><a href={fridgeIssuesToshiba.parentURL}>{fridgeIssuesToshiba.indexPageTitle}</a></li>
                            <li><a href={fridgeIssuesWhirlpool.parentURL}>{fridgeIssuesWhirlpool.indexPageTitle}</a></li>
                            <li><a href={fridgeIssuesLiebherr.parentURL}>{fridgeIssuesLiebherr.indexPageTitle}</a></li>
                        </ul>
                    </div>

                    <div class="column">
                        <div class="column-title" role="heading" aria-level="3">Ремонт по ошибкам</div>
                        <ul>
                            <li>Установка холодильников</li>
                            <li>Установка стиральных машин</li>
                            <li>Установка посудомоечных машин</li>
                            <li>Установка сушильных машин</li>
                            <li>Установка газовых плит</li>
                            <li>Установка электрических плит</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- PANEL: WASHERS -->
            <div class="panel" data-panel="washer">
                <div class="mega-title" role="heading" aria-level="2">{washerIssues.indexPageTitle}</div>
                <div class="columns">
                    <div class="column">
                        <div class="column-title" role="heading" aria-level="3">Ремонт по дефектам</div>
                        <ul>
                            <li><a href={washerIssues.parentURL}>{washerIssues.indexPageTitle}</a></li>
                            {commonWasherIssues.map(issue => (
                                <li><a href={issue.href}>{issue.title}</a></li>
                            ))}
                        </ul>
                    </div>

                    <div class="column">
                        <div class="column-title" role="heading" aria-level="3">Ремонт по брендам</div>
                        <ul>
                            <li><a href={washerIssuesLg.parentURL}>{washerIssuesLg.indexPageTitle}</a></li>
                            <li><a href={washerIssuesAriston.parentURL}>{washerIssuesAriston.indexPageTitle}</a></li>
                            <li><a href={washerIssuesIndesit.parentURL}>{washerIssuesIndesit.indexPageTitle}</a></li>
                            <li><a href={washerIssuesCandy.parentURL}>{washerIssuesCandy.indexPageTitle}</a></li>
                            <li><a href={washerIssuesSamsung.parentURL}>{washerIssuesSamsung.indexPageTitle}</a></li>
                            <li><a href={washerIssuesDaewoo.parentURL}>{washerIssuesDaewoo.indexPageTitle}</a></li>
                            <li><a href={washerIssuesBosch.parentURL}>{washerIssuesBosch.indexPageTitle}</a></li>
                            <li><a href={washerIssuesAeg.parentURL}>{washerIssuesAeg.indexPageTitle}</a></li>
                            <li><a href={washerIssuesGorenje.parentURL}>{washerIssuesGorenje.indexPageTitle}</a></li>
                            <li><a href={washerIssuesElectrolux.parentURL}>{washerIssuesElectrolux.indexPageTitle}</a></li>
                            <li><a href={washerIssuesZanussi.parentURL}>{washerIssuesZanussi.indexPageTitle}</a></li>
                            <li><a href={washerIssuesBeko.parentURL}>{washerIssuesBeko.indexPageTitle}</a></li>
                        </ul>
                    </div>

                    <div class="column">
                        <div class="column-title" role="heading" aria-level="3">Ремонт по ошибкам</div>
                        <ul>
                            <li>Установка холодильников</li>
                            <li>Установка стиральных машин</li>
                            <li>Установка посудомоечных машин</li>
                            <li>Установка сушильных машин</li>
                            <li>Установка газовых плит</li>
                            <li>Установка электрических плит</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- PANEL: DRYERS -->
            <div class="panel" data-panel="dryer">
                <div class="mega-title" role="heading" aria-level="2">Ремонт сушильных машин</div>
                <div class="columns">
                    <div class="column">
                        <div class="column-title" role="heading" aria-level="3">Ремонт по дефектам</div>
                        <ul>
                            <li><a href={dryerIssues.parentURL}>{dryerIssues.indexPageTitle}</a></li>
                            {commonDryerIssues.map(issue => (
                                <li><a href={issue.href}>{issue.title}</a></li>
                            ))}
                        </ul>
                    </div>

                    <div class="column">
                        <div class="column-title" role="heading" aria-level="3">Ремонт по брендам</div>
                        <ul>
                            <li><a href={dryerIssuesLg.parentURL}>{dryerIssuesLg.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesIndesit.parentURL}>{dryerIssuesIndesit.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesHisense.parentURL}>{dryerIssuesHisense.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesSamsung.parentURL}>{dryerIssuesSamsung.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesBeko.parentURL}>{dryerIssuesBeko.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesBosch.parentURL}>{dryerIssuesBosch.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesAeg.parentURL}>{dryerIssuesAeg.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesGorenje.parentURL}>{dryerIssuesGorenje.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesElectrolux.parentURL}>{dryerIssuesElectrolux.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesMiele.parentURL}>{dryerIssuesMiele.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesWhirlpool.parentURL}>{dryerIssuesWhirlpool.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesSharp.parentURL}>{dryerIssuesSharp.indexPageTitle}</a></li>
                        </ul>
                    </div>

                    <div class="column">
                        <div class="column-title" role="heading" aria-level="3">Ремонт по ошибкам</div>
                        <ul>
                            <li><a href={dryerIssuesLgErrors.parentURL}>{dryerIssuesLgErrors.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesIndesitErrors.parentURL}>{dryerIssuesIndesitErrors.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesHisenseErrors.parentURL}>{dryerIssuesHisenseErrors.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesSamsungErrors.parentURL}>{dryerIssuesSamsungErrors.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesBekoErrors.parentURL}>{dryerIssuesBekoErrors.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesBoschErrors.parentURL}>{dryerIssuesBoschErrors.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesAegErrors.parentURL}>{dryerIssuesAegErrors.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesGorenjeErrors.parentURL}>{dryerIssuesGorenjeErrors.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesElectroluxErrors.parentURL}>{dryerIssuesElectroluxErrors.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesMieleErrors.parentURL}>{dryerIssuesMieleErrors.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesWhirlpoolErrors.parentURL}>{dryerIssuesWhirlpoolErrors.indexPageTitle}</a></li>
                            <li><a href={dryerIssuesSharpErrors.parentURL}>{dryerIssuesSharpErrors.indexPageTitle}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- PANEL: DISHWASHERS -->
            <div class="panel" data-panel="dishwasher">
                <div class="mega-title" role="heading" aria-level="2">Ремонт посудомоечных машин</div>
                <div class="columns">
                    <div class="column">
                        <div class="column-title" role="heading" aria-level="3">Ремонт по дефектам</div>
                        <ul>
                            <li><a href={dishwasherIssues.parentURL}>{dishwasherIssues.indexPageTitle}</a></li>
                            {commonDishwasherIssues.map(issue => (
                                <li><a href={issue.href}>{issue.title}</a></li>
                            ))}
                        </ul>
                    </div>

                    <div class="column">
                        <div class="column-title" role="heading" aria-level="3">Ремонт по брендам</div>
                        <ul>
                            <li><a href={dishwasherIssuesLg.parentURL}>{dishwasherIssuesLg.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesAriston.parentURL}>{dishwasherIssuesAriston.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesIndesit.parentURL}>{dishwasherIssuesIndesit.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesHisense.parentURL}>{dishwasherIssuesHisense.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesSamsung.parentURL}>{dishwasherIssuesSamsung.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesHansa.parentURL}>{dishwasherIssuesHansa.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesBosch.parentURL}>{dishwasherIssuesBosch.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesAeg.parentURL}>{dishwasherIssuesAeg.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesGorenje.parentURL}>{dishwasherIssuesGorenje.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesElectrolux.parentURL}>{dishwasherIssuesElectrolux.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesMiele.parentURL}>{dishwasherIssuesMiele.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesWhirlpool.parentURL}>{dishwasherIssuesWhirlpool.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesSiemens.parentURL}>{dishwasherIssuesSiemens.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesCandy.parentURL}>{dishwasherIssuesCandy.indexPageTitle}</a></li>
                        </ul>
                    </div>

                    <div class="column">
                        <div class="column-title" role="heading" aria-level="3">Ремонт по ошибкам</div>
                        <ul>
                            <li><a href={dishwasherIssuesLgErrors.parentURL}>{dishwasherIssuesLgErrors.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesAristonErrors.parentURL}>{dishwasherIssuesAristonErrors.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesIndesitErrors.parentURL}>{dishwasherIssuesIndesitErrors.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesHisenseErrors.parentURL}>{dishwasherIssuesHisenseErrors.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesSamsungErrors.parentURL}>{dishwasherIssuesSamsungErrors.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesHansaErrors.parentURL}>{dishwasherIssuesHansaErrors.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesBoschErrors.parentURL}>{dishwasherIssuesBoschErrors.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesAegErrors.parentURL}>{dishwasherIssuesAegErrors.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesGorenjeErrors.parentURL}>{dishwasherIssuesGorenjeErrors.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesElectroluxErrors.parentURL}>{dishwasherIssuesElectroluxErrors.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesMieleErrors.parentURL}>{dishwasherIssuesMieleErrors.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesWhirlpoolErrors.parentURL}>{dishwasherIssuesWhirlpoolErrors.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesSiemensErrors.parentURL}>{dishwasherIssuesSiemensErrors.indexPageTitle}</a></li>
                            <li><a href={dishwasherIssuesCandyErrors.parentURL}>{dishwasherIssuesCandyErrors.indexPageTitle}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const sidebarItems = document.querySelectorAll<HTMLElement>('[data-category]')
    const panels = document.querySelectorAll<HTMLElement>('[data-panel]')

    sidebarItems.forEach(item => {
        item.addEventListener('click', () => {
            const category = item.dataset.category

            sidebarItems.forEach(i => i.classList.remove('active'))
            item.classList.add('active')

            panels.forEach(panel => {
                panel.classList.toggle(
                    'active',
                    panel.dataset.panel === category
                )
            })
        })
    })

    const btn = document.querySelector('[data-menu-toggle]') as HTMLElement
    const menu = document.querySelector('[data-mega-menu]') as HTMLElement

    btn.addEventListener('click', (e) => {
        e.stopPropagation()
        menu.classList.toggle('is-open')
        btn.classList.toggle('is-open')
    })

    // Close when clicking outside
    document.addEventListener('click', (e) => {
        const target = e.target as Node

        if (
            menu.classList.contains('is-open') &&
            !menu.contains(target) &&
            !btn.contains(target)
        ) {
            menu.classList.remove('is-open')
            btn.classList.remove('is-open')
        }
    })

    // Prevent clicks inside menu from bubbling to document
    menu.addEventListener('click', (e) => {
        e.stopPropagation()
    })
</script>

<style>
    /* MEGA MENU */
    .mega {
        position: fixed;
        top: 70px;
        left: 0;
        width: 100vw;

        background: var(--main-background-color);
        box-shadow:
            0 20px 32px -24px rgba(0, 0, 0, 0.22),
            0 8px 12px -8px rgba(0, 0, 0, 0.18);

        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transform: translateY(-10px);
        transition: all 0.25s ease;
        z-index: 998;
    }

    .mega a {
        text-decoration: none;
        color: var(--main-font-color);
    }

    .mega__inner {
        max-width: var(--main-container-width);
        margin-inline: auto;
        display: grid;
        grid-template-columns: 260px 1fr;
        border-radius: 0 0 24px 24px;
        gap: 40px;
    }

    .mega.is-open {
        max-height: 1200px;
        opacity: 1;
        transform: translateY(0);
    }

    /* SIDEBAR */
    .sidebar {
        list-style: none;
        padding-top: 32px;
        margin: 0;
    }

    .sidebar li {
        padding: 12px 16px;
        border-radius: 12px;
        cursor: pointer;
        color: var(--main-font-color);
        font-weight: var(--font-weight);
    }

    .sidebar li:hover {
        background: var(--main-font-hover);
    }

    .sidebar li.active {
        background: var(--main-font-hover);
        font-weight: var(--font-weight);
    }

    .mega__content {
        overflow-y: auto;
        padding: 32px;
    }

    .mega-title {
        font-size: 32px;
        margin-bottom: 32px;
        color: var(--main-font-color);
        font-weight: var(--font-weight);
    }

    .column-title {
        font-size: 20px;
        margin-bottom: 16px;
        color: var(--main-font-color);
        font-weight: var(--font-weight);
    }

    .columns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 48px;
    }

    .column ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .column li {
        padding: 6px 0;
        color: var(--main-font-color);
        cursor: pointer;
    }

    .column li:hover {
        text-decoration: underline;
    }

    /* PANELS */
    .panel {
        display: none;
    }

    .panel.active {
        display: block;
    }
</style>
