---
const { content } = Astro.props
---

<section class="services">
    <h2>{content.title}</h2>
    <div class="services-grid">
        {content.items.map((item: { h: string; p: string; href: string; src: string }) => (
            <article class="service-card">
                <a href={item.href}>
                    <img id="image"
                        data-src={item.src}
                        alt={content.title + " | Specialist"}  
                        class="service-ico"
                    />
                </a>

                <h4>{item.h}</h4>
                <p>{item.p}</p>

                <a class="card-link" href={item.href}>
                    {content.hrefText}
                </a>
            </article>
        ))}
    </div>
</section>

<style>
    .section-title {
        font-size: 26px;
        margin: 24px 0;
        font-weight: var(--font-weight);
        color: var(--main-font-color);;
    }
    
    .services-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap: 20px;
    }
    
    .service-card {
        background: linear-gradient(180deg,#ffffff,#fcfdff);
        border-radius: 12px;
        padding: 18px;
        border: 1px solid #e8f0fb;
        box-shadow: 0 10px 30px rgba(11,59,130,0.03);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .service-card h4 {
        font-size: var(--small);
        margin-bottom: 0px;
    }

    .service-ico { 
        width: 200px; 
        height: 200px; 
        object-fit: cover; 
        border-radius: 10px; 
    }

    .card-link { 
        margin-top: auto; 
        font-size: var(--small);
        color: var(--main-font-color);
        font-weight: var(--font-weight); 
        text-decoration: none; 
    }
</style>